#sobre {

    scroll-margin-top: 190px; 

}

.sobre {

    margin-left: 350px;
    display: flex;
    flex-direction: row;

}

.title-sobre h1{

    font-family: "Montserrat Alternates", sans-serif;
    font-size: 45px;
    font-weight: 500;
    color: #495943;
    padding-top: 76px;
    padding-bottom: 25px;

}

strong {

font-weight: 600;

}

.title-sobre p {

    font-family: "Montserrat Alternates", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #495943;
    width: 500px;

}

.sobre-box {

    margin-left: 96px;
    background: linear-gradient(135deg, #DFE2E0 0%, #84957E 70%);
    width: 590px;
    height: 506px;
    border-radius: 10px;
    border-top-left-radius: 253px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 376px;

}

.sobre-box img {

position: relative;
top: -180px;
object-fit: cover;
width: 450px;
height: 685px;
   
}